.black {
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 250px;
}

.gray {
  border-radius: 20px;
  background-color: #ccc;
  color: white;
  cursor: pointer;
  width: 250px;
}

.full {
  border-radius: 20px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 100%;
  border: 1px solid black;
}
