.input {
  font-family: Satoshi;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
  height: 40px;
  border-radius: 10px;
}
